[submodule ".vim/vundle"]
	path = .vim/vundle
	url = https://github.com/gmarik/vundle.git
[submodule ".tmux.d/tmux-powerline"]
	path = .tmux.d/tmux-powerline
	url = https://github.com/erikw/tmux-powerline.git
[submodule ".zsh-completions"]
	path = .zsh-completions
	url = https://github.com/zsh-users/zsh-completions.git
