[user]
	name = Hisashi HATAKEYAMA
	email = id.hatak@gmail.com
[color]
	ui = auto
[alias]
	ci = commit
	st = status
	co = checkout
	df = diff
	br = branch
[diff "cartonlock"]
	textconv = "perl -MJSON -0e \"\\$m = decode_json(<>)->{modules}; print qq(\\$_~\\$m->{\\$_}->{version}\\n) for sort keys %\\$m\""
